body {
    display: grid;
    /* grid-template-rows: repeat(2, auto) 1fr auto; */
    grid-template-rows: auto 1fr auto;
    min-height: 100vh;
}
#sort{
   background: #a9ab49;;
}
.bb{
    width: 60%
}
.img-h{
    position: absolute;
    max-width: 25em;
    
    top: -2em;
    right: 0;
}
.otv{
     padding-left: 4em;
                padding-right: 4em;
                padding-right: 4em;
                font-size: .8em;
                width: 100%;
               padding-top: 4em;
                text-align: center;
}
.img-ser{
    position: absolute;
    max-width: 100%;
    width:25em;
    top: -2em;
    left: 0;
}
.onetext{
    position: absolute;
    top: 5%;
    width: 10em;
    right: -1em;
    color: #23164B;
    font-size: 1em;
    color: #23164B;
    font-weight: 500;
}
.oot2{
    position: absolute;
    color: #23164B;
    bottom: 0;
    width: 10em;
    font-size: 1em;
    font-weight: 500;
}

.other1{
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-image: url("../images/oth1.png");
    min-height: 70vh;
}
.other2{
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-image: url("../images/oth2.png");
    min-height: 70vh;
}
.oth2{
    position: absolute;
    width: 40%;
    right: 0;
    top: -7em;
}
.oth1{
    position: absolute;
    max-height: 120vh;
    left: 8em;
    
}
.box-cont{
    

 
}
.text{
    font-weight: 500;
    position: relative;
}
.prin{
    left: 4em;
    position: absolute;
    width: 20em;
    bottom: -5em;
}
.neprin{
    position: absolute;
    right: 0;
    bottom: 0;
}
.other{
    width: 80rem;
    position: absolute;
    top: -10em;
    right: 0;
}
.img-h1{
    position: absolute;
    max-width: 25em;
    top: -2em;right: 0;
}
.img-cont{
    position: relative;
}
.w-1{
    position: absolute;
    width: 8em;
    right: -2em;
    top: -2em;
}

.sp-w{
    color: #eb5534a6;
    font-size: 4em;
    font-weight: 600;
    position: absolute;
    opacity: .8;
    left: -20px;
    top: -40px;
}
.box-about{
    width: 50%;
}
.order-alert {
    display: none;
}
.hh1{
    width: 70%;
    
}
.succes-al{
    display: block;
    position: absolute;
    top: 1em;
}
.text-other{
    width: 14em;
    margin-top: 5em;
    font-size: 1.4em;
    text-align: initial;
    width: 30%;
    text-align: center;
}
.text-other2{
    width: 14em;
    margin-top: 5em;
    font-size: 1.4em;
    text-align: initial;
    width: 30%;
    text-align: end;
}


@media (max-width:990px) {
    .img-h{
        position: absolute;
        max-width: 25em;
        width: 12em;
        top: -2em;
        right: 0;
    }
    .img-h1{
       top: 0;
    }
    .box-form{
        margin-top: 4em;

    }
    #other{

    }

    .other{
        top: 0;
    }
    .hh1{
        width: 100%;
        margin-top: 5em;
    }
    .box-form{
        margin-top: 4em;
        position: relative;
        display: flex;
        justify-content: center;
      
    }
    #header{
        min-height: 100vh;
        padding-top: 3em;
        padding-bottom: 8rem;
    }
    .box-about{
        width: 100%;
    }

}
@media (max-width:600px){
    .bb{
        width: 100%
    }
    .otv{
        padding-left: 4em;
                   padding-right: 4em;
                   padding-right: 4em;
                   font-size: .8em;
                   width: 100%;
                  padding-top: 3em;
                   text-align: center;
   }
    .img-h{
        position: absolute;
        width: 12em;
        top: 2em;
        right: 0;
    }
    .onetext{
        right: 2em;
    }
    .oot2{
        left: 1em;
        font-size: 1em;
    }
    .prin{
        top: 0;
    }
    .other{
        top: 0;
    }
    .text-other{
        width: 70%;
        font-size: 1em;
      
    }

    .text-other2{
       width: 70%;
        font-size: 1em;
        margin-left: 3em;
        margin-top: 12rem;
       
    }
    .neprin{
        width: 16em;
        right: 0;
    }
    .w-1{
        right: -1em;
    }
    section{
        padding-top: 4rem;
    }
    .img-cont{
      
    }
}
@media (max-width:800px) {
    .oot2{
        position: absolute;
        color: #23164B;
        bottom: -4em;
        left: 2em;
        width: 10em;
        font-size: 1.3em;
        font-weight: 500;
    }
}
@media (max-width:400px){
    .otv{
        padding-left: 4em;
                   padding-right: 4em;
                   padding-right: 4em;
                   font-size: .8em;
                   width: 100%;
                  padding-top: 1em;
                   text-align: center;
   }
}

