<nav class="navbar navbar-expand-lg navbar-dark fixed-top" style="background-color: #23164B;">
    <div class="container">
      <a class="navbar-brand" href="/">
        {% load static %}
        <img style="position: absolute;
        top: 0;" class="img-fluid" src="{% static 'images/logo1.png' %}" alt="">
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mx-auto mb-2 mb-lg-0 ">
          <li class="nav-item active">
            <a class="nav-link "  href="/#o-services">О нас</a>
          </li>
          <li class="nav-item">
            <a class="nav-link"   href="/#works">Как это работает?</a>
          </li>
          <li class="nav-item">
            <a class="nav-link"   href="/#">Маркетплейс</a>
          </li>
          <li class="nav-item">
            <a class="nav-link"   href="/sotrudnicestfo">Сотрудничество</a>
          </li>
          <li class="nav-item">
            <a class="nav-link"   href="/#contacts">Контакты</a>
          </li>

         
        </ul>
       
      </div>
    </div>
  </nav>