{% load static %}<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8" />
    <meta name="keywords" content="SECOND - бесплатный вывоз ненужных вещей ,(АЛМАТЫ,АСТАНА)">
    <meta name="description" content="Бесплатный вывоз ненужных вещей совершенно бесплатно.Работаем (АЛМАТЫ,АСТАНА).Лучший сервис!">
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <!--  Essential META Tags -->
<meta property="og:title" content="SECOND - бесплатный вывоз ненужных вещей ,(АЛМАТЫ,АСТАНА)">
<meta property="og:type" content="article" />
<meta property="og:image" content="https://2nd.kz/static/images/logo1.png">
<meta property="og:url" content="https://2nd.kz/">
<meta name="twitter:card" content="summary_large_image">

<!--  Non-Essential, But Recommended -->
<meta property="og:description" content="Сервис по  вывозу ненужных вещей совершенно бесплатно.Работаем (АЛМАТЫ,АСТАНА).Лучший сервис!">
<meta property="og:site_name" content="SECOND - бесплатный вывоз ненужных вещей ,(АЛМАТЫ,АСТАНА)">
<meta name="twitter:image:alt" content="Alt text for image">

    <meta name="mailru-domain" content="LTWZyLV6JyamkcEK" />
    <title>Second</title>
    
 
    {% include 'includes/favicons.html' %}
    {% block css_libs %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
      crossorigin="anonymous"
    />
    {% endblock %}
  </head>
  <body class="">
    {% include 'includes/nav.html' %}

  {% block header %}{% endblock %}
    
      {% block content %}{% endblock %}
   

    <footer id="footer" class="py-4" style="background: #23164b;
    color: white;">
      <div class="container text-end">
        <a  href="/oferta" style="text-decoration: none; color: white;"
        >
        <span style="cursor: pointer;">Оферта</span>
        </a>
            <span style="margin-left: 3em;cursor: pointer;">Хочу в команду</span>
      </div>
    </footer>

    {% block js_libs %}
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
      crossorigin="anonymous"
    ></script>
    <script src="https://unpkg.com/imask"></script>
    <script src="{% static 'js/index.js' %}"></script>
    {% endblock %}
  </body>
</html>
