{% extends 'base.html' %}

{% block body_classes %}{% spaceless %}
homepage
{% endspaceless %}{% endblock %}
{% block header %}
<header id="header" class="d-flex align-items-center justify-content-center">
    <div class="container d-flex" style="align-items: center;min-height: 80vh;">
        <div class="row">
            <div class="col-12 col-lg-4 order-2 order-lg-1 box-form" style="position: relative;">
                {% load static %}
                <img style="position: absolute;
                max-width: 15em;
                bottom: -8em;
                left: -6em;" class="img-fluid" src="{% static 'images/form.png' %}" alt="">
                <div class="card" style="width: 18rem;position: relative;">
                    <div class="card-body">
                        <form class="form">
                            <p style="font-size: 20px;">Оставить заявку <br> на вывоз вещей</p>
                            <div class="order-alert" >
                                <div class="alert alert-success" role="alert" >
                                    Завка успешно отправлена!
                                  </div>
                            </div>
    
                            <div class="mb-3">
                                <input required type="text" class="form-control name" placeholder="Имя">
                            </div>
                            <div class="mb-3">
                                <input id="phone" type="text" required class="form-control phone" placeholder="Номер телефона">
                            </div>
                            <div class="mb-3">
                                <input required type="email" class="form-control email" placeholder="Email" id="exampleInputEmail1">
                            </div>

                            <button  type="submit" style="width: 100%;background-color: #23164B;" type="button"
                                class="btn btn-secondary">Отправить</button>
                        </form>

                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-8 order-1 order-lg-2">
                <div class="container left" style="font-weight: 500;position: relative;">
                    {% load static %}
                    <img class="img-h img-fluid" src="{% static 'images/h1.png' %}" alt="">
                    <h1 class="hh1" style="position: relative;">Бесплатный сервис по вывозу ненужных вещей
                    </h1>
                    <p style="margin-top: 92px;font-size: 1.5em;position: relative;" class="text-left hh1">
                        1/5 часть от дохода мы отправляем на <br> <span
                            style="color: #EB5534;">благотворительность!</span>
                    </p>
                </div>
            </div>
        </div>
    </div>
</header>
{% endblock %}
{% block content %}

<main id="main">
    <section id="o-services" style="color:white;background-color: #EB5534;">

        <div class="container d-flex " style="align-items: center;min-height: 80vh;">
            <div class="row justify-content-center">
                <h2 class="text-center h2h">О нашем сервисе
                </h2>
                <div class="col-12 " style="padding-top: 3em;position: relative;">
                    {% load static %}
                    <img  class="img-ser img-fluid" src="{% static 'images/serv.png' %}" alt="">
                    <p style="text-align: inherit;position: relative;">
                        В современном мире остро стоит проблема отношения человека к экологии. Second - позволит узнать
                        об
                        осознанном потреблении и вторичной переработке. Ведь повторное использование вещи новым
                        владельцем
                        снижает ее углеродный след на 75%.
                    </p>
                    <p style="margin-top: 46px;text-align: inherit;position: relative;">
                        После сортировки часть вещей мы отдаём нуждающимся или продаём в наших секонд-сторах, другие
                        отправляем на переработку.
                    </p>
                    <p style="margin-top: 46px;text-align: inherit;position: relative;">
                        Нам не безразлична проблема экологии мира, именно поэтому мы рассказываем, как расстаться с
                        ненужной одеждой с минимальным вредом для окружающей среды. <span style="color: #23164B;">Ведь
                            даря вторую жизнь вещам, вы продлеваете ее жизненный цикл и помогаете экологии.</span>
                    </p>
                    <p style="margin-top: 46px;text-align: inherit;position: relative;">
                        Маленькими шагами мы можем изменить планету. А вот в какую сторону - <span
                            style="color: #23164B;"> решать ВАМ.</span>
                    </p>
                </div>
            </div>
        </div>
    </section>

    <section id="works">

        <div class="container d-flex" style="align-items: center;min-height: 80vh;justify-content: center;">

            <div class="row justify-content-center">
                <h2 class="text-center h2h">Как это работает?
                </h2>
                <div class="col-12 col-lg-6 d-flex" style="padding-top: 3em;align-items: center;justify-content: center;">
                    <div >
                    <div style="width: 100%;position: relative;min-height: 5em;">
                        
                        <p style="position: relative;color: #23164B;">
                            <span class="sp-w">1</span>
                            Вы оставляете заявку <br> на вывоз вещей
                            {% load static %}
                            <img class="img-fluid w-1" src="{% static 'images/w1.png' %}" alt="">
                        </p>
 
                    </div>
                    <div  style="width: 100%;position: relative;min-height: 5em;margin-top: 3em;">
                        <p style="position: relative;color: #23164B;" >
                            <span class="sp-w">2</span>
                            Наша команда <br> приезжает на указанный <br> вами адрес
                            {% load static %}
                            <img class="img-fluid w-1" src="{% static 'images/w2.png' %}" alt="">
                        </p>
                    </div>
                    <div  style="width: 100%;position: relative;min-height: 5em;margin-top: 3em;">
                        <p style="position: relative;color: #23164B;">
                            <span class="sp-w">3</span>
                            Вы избавляетесь <br> от  
                            ненужных вещей <br>
                            совершенно бесплатно
                            {% load static %}
                            <img class="img-fluid w-1" src="{% static 'images/w2.png' %}" alt="">
                        </p>
                    </div>
                </div>
                </div>
                <div class="col-12 col-lg-6" style="padding-top: 3em;">
                    {% load static %}
                    <img class="img-fluid" src="{% static 'images/work.png' %}" alt="">
                </div>
            </div>
        </div>
    </section>

    <section id="about">
        <div class="d-flex flex-wrap bd-highlight">
            <div style="margin: 0;padding: 0;" class="flex-grow-1 bd-highlight box-about">
                {% load static %}
                <img style="margin:0;padding:0;" class="img-fluid" src="{% static 'images/sectionabout.png' %}" alt="">
            </div>
            <div id="box2" style="background-color: #A9AB49;margin: 0;padding: 0;min-height: 60vh;"
                class="flex-grow-1 bd-highlight box-about ">
                <div style="height: 100%; display: flex;align-items: center;justify-content: center;">



                    <h4 style="color:white;text-align: inherit;width: 13em;">
                        Мы приедем и заберем любые ненужные вещи из квартиры, гаража или офиса.
                    </h4>
                </div>
            </div>
        </div>
    </section>
    <section id="priem" style="color: #23164B;">
        <div class="container d-flex flex-wrap" style="align-items: center;min-height: 80vh;justify-content: center;position: relative;">

            {% load static %}
            <img class="img-fluid neprin d-none d-lg-block" src="{% static 'images/neprim.png' %}" alt="">
            <h2 class="text-center h2h">Мы принимаем
            </h2>
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-6 text-center" style="padding-top: 3em;position: relative;display: flex;
                    justify-content: end;">
                      <div style="width: 60%;text-align: left;display: flex;
                      flex-wrap: wrap;
                      justify-content: end;">
                        {% load static %}
                        <img class="img-fluid prin" src="{% static 'images/prin.png' %}" alt="">
                        <p class="text" style="width: 100%;">1. Одежду</p>
                        <p class="text" style="width: 100%;">2. Обувь</p>
                        <p class="text" style="width: 100%;">3. Посуду</p>
                        <p class="text" style="width: 100%;">4. Аксессуары</p>
                        <p class="text" style="width: 100%;">5. Бытовую <br> технику</p>
                    </div>
                    </div>
                    <div class="col-6 " style="padding-top: 3em;">
                        <p class="text">6. Мебель</p>
                         <p class="text">7. Книги</p>
                         <p class="text">8. Запасные части</p>
                         <p class="text">9. Домашние принадлежности</p>
                         <p class="text">10. Прочие вещи</p>
                    </div>
                </div>
            </div>
            <h2 class="text-center h2h" style="margin-top: 3em;position: relative;">Мы не принимаем
            </h2>
            <div class="container" style="padding-bottom: 3em;">
                <div class="row justify-content-center">
                    <div class="col-6 text-center" style="padding-top: 3em;display: flex;
                    justify-content: end;">
                        <div class="bb" style="text-align: left;display: flex;
                        flex-wrap: wrap;
                        justify-content: end;">
                        <p class="text" style="width: 100%;">1.Нижнее белье</p>
                        <p class="text" style="width: 100%;">2. Обувь и одежду в плохом состоянии</p>
                    </div>
                    </div>
                    <div class="col-6 " style="padding-top: 3em;">
                        <p class="text">3. Носки, колготки</p>
                         <p class="text">4. Вещи с пятнами, плесенью и плохим запахом</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="sorts">
        <div class="d-flex flex-wrap bd-highlight">

            <div id="box2" style="background-color: #EB5534;margin: 0;padding: 0;min-height: 60vh;"
                class="flex-grow-1 bd-highlight box-about ">
                <div style="height: 100%; display: flex;align-items: center;justify-content: center;">



                    <h4 style="color:white;text-align: inherit;width: 13em;">
                        Мы отсортируем, приведем в рабочее состояние, затем подарим вторую жизнь вещам.
                    </h4>
                </div>
            </div>
            <div style="margin: 0;padding: 0;" class="flex-grow-1 bd-highlight box-about">
                {% load static %}
                <img style="margin:0;padding:0;" class="img-fluid" src="{% static 'images/sort.png' %}" alt="">
            </div>
        </div>
    </section>
<section id="other" style="position: relative;margin-bottom: 4em;margin-top: 4em;
">

    <div class="container ">
        <div class="row justify-content-center" >
            <div  class="col-12 col-lg-6 other1" style="position: relative;">
                <p class="onetext" >
                    Пользуясь нашим сервисом, вы поддерживаете нашу веру в частную инициативу и социальное предпринимательство
                </p>
            </div>
            <div  class="col-12 col-lg-6 other2" tyle="position: relative;">
                <p class="oot2" >
                    Мы мечтаем о мире, где царит баланс между потреблением и заботой об экологии и личными потребностями
                </p>
            </div>
            </h2>
        </div>
    </div>
</section>
    <section id="sort">
        <div class="d-flex flex-wrap bd-highlight">


            <div style="margin: 0;padding: 0;" class="flex-grow-1 bd-highlight box-about">
                {% load static %}
                <img style="margin:0;padding:0;" class="img-fluid" src="{% static 'images/sec.png' %}" alt="">
            </div>
            <div id="box2" style="background-color: #A9AB49;margin: 0;padding: 0;min-height: 60vh;"
                class="flex-grow-1 bd-highlight box-about ">
                <div style="height: 100%; display: flex;align-items: center;justify-content: center;flex-wrap: wrap;">
                    <div style="padding:1em;color: white;font-weight: 500;">
                    <p style="width: 60%;">
                        Second - коммерческий проект. <span style="color: black;">Мы не берем деньги у государства,</span>  а существуем и развиваемся
                        только на вырученные от продаж средства.

                    </p>
                    <p style="margin-top: 64px;width: 60%;">

                        Мы сотрудничаем с <span style="color: black;">благотворительными организациями</span>  по нескольким направлениям и всегда открыты к
                        новым партнерствам.

                    </p>
                    <p style="margin-top: 64px;width: 60%;">
                        Если вы хотите предложить интересную активность в этом направлении, пишите нам <span style="color: black;">сюда</span> 

                    </p>
                </div>
                </div>
            </div>
        </div>
    </section>

<section id="contacts">
    <div class="container ">
        <div class="row justify-content-center">
         <div class="col-lg-6 col-12" style="display: flex;
         justify-content: center;
         align-items: center;">
             <div>
            <div class="box-cont" style="padding: 1em;position: relative;">
                {% load static %}
                <img   class="img-fluid " src="{% static 'images/cont.png' %}" alt="">
                <div class="cont-abs" style="position: absolute;
                top: 5em;color:#23164B;left: 0;">
                <h4  style="
              
                width: 100%;
               
                text-align: center;">Контакты</h4>
     
                <h5 class="text-center" style=" 
           
                width: 100%;
            
                text-align: center;">
                 <a  href="tel:+77475232269" style="text-decoration: none; color: #23164B;"
                 >
                 {% load static %}
                 <img class="img-fluid" src="{% static 'images/phone.png' %}" alt=""> +7 747 523 22 69
                 </a>
                </h5>
               
                <p class="text-center otv" >
                    Мы быстро ответим на все вопросы по телефону или WhatsApp
                </p>
                <p style=" 
 
                padding: 1em;
                font-size: .8em;
                width: 100%;
              
                text-align: center;">
                <a style="text-decoration: none" href="https://wa.me/77475232269/" target="blank">
                    <button class="btn" style="background-color: #23164B;color: white;">
                        <img class="img-fluid" src="{% static 'images/wath.png' %}" alt="">
                        <span style="font-size:.7em">Написать нам в WhatsApp</span>
                        
                    </button>
                </a>
                </p>
                <p style=" 
                font-size: .8em;
                width: 100%;
              
                text-align: center;">
 {% load static %}
 <img class="img-fluid" src="{% static 'images/geo.png' %}" alt="">
 <span> Казахстан, г. Алматы</span>
                </p>
            </div>
            </div>
        </div>
         </div>
         <div class="col-lg-6 col-12">
            <iframe
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2905.1632571444343!2d76.94312591578596!3d43.26895547913633!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x38836f581bba36cb%3A0x6c74ca5e0538685f!2z0L_RgC3Rgi4g0J3QsNC30LDRgNCx0LDQtdCy0LAgMzYsINCQ0LvQvNCw0YLRiyAwNTAwMDAsINCa0LDQt9Cw0YXRgdGC0LDQvQ!5e0!3m2!1sru!2sru!4v1632245723485!5m2!1sru!2sru"
             width="100%"
             height="620"
             style="border:0;"
             allowfullscreen=""
             loading="lazy">
             </iframe>
         </div>
        </div>
</section>
</main>
{% endblock %}