{% extends 'base.html' %}

{% block body_classes %}{% spaceless %}
homepage
{% endspaceless %}{% endblock %}
{% block header %}
<header>
    <div class="container">
        <h2 style="margin-top: 4rem;">Сотрудничество</h2>
    </div>
    
</header>
{% endblock %}
{% block content %}
<main>
<div class="container">
   
</div>
</main>
{% endblock %}